<!-- Header Start -->
<%- include ('include/header.ejs') %>
<!-- Header End -->

<!-- [ Pre-loader ] End -->
<!-- [ Sidebar Menu ] start -->
<%- include ('include/sidebar.ejs') %>
<!-- [ Sidebar Menu ] end --> 
    
<!-- [ Header Topbar ] start -->
<%- include ('include/topbar.ejs') %>
<!-- [ Header Topbar ] end -->



    <!-- [ Main Content ] start -->
    <div class="pc-container">
        <div class="pc-content">
            <%- body %>
            <!-- <div class="row">
                <div class="col-sm-">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="mb-4">Dashboard</h5>
                            <p>Welcome !</p>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
    <!-- [ Main Content ] end -->

    <!-- [ Footer ] start -->
    <%- include ('include/footer.ejs') %>
    <!-- [ Footer ] end -->